<% layout('../layout.html') -%>
<h1>Check out my products!!</h1>
<div ng-controller="ProductCtrl">
	<form ng-submit="save(newRecord)">
		<table cellspacing="0">
			<tr>
				<th>ID</th>
				<th>Category</th>
				<th>Title</th>	
				<th>Google ID</th>	
				<th>Action</th>	
			</tr>	
			<tr>
				<th><input ng-model="newRecord.id" placeholder="ID"></th>
				<th><input ng-model="newRecord.category" placeholder="Category"></th>
				<th><input ng-model="newRecord.title" placeholder="Title"></th>	
				<th><input ng-model="newRecord.google_id" placeholder="Google ID"></th>	
				<th><input type="submit" value="Add"></th>	
			</tr>
			<tr ng-repeat="(index, row) in products">
				<td>{{row.id}}</td>
				<td>{{row.category}}</td>
				<td>{{row.title}}</td>	
				<td>{{row.google_id}}</td>	
				<td><a ng-click="delete(index)">Delete</a></td>
			</tr>	
		</table>
	</form>	
</div>